body {
  font-family: 'Inconsolata', monospace;
  background-color: #aaa;
  text-align: center;
  margin: 0;
}

header {
  margin: 0 auto;
  padding: 30px;
  background: white;
}

.parent {
  width: 650px;
  background: rgba(255, 255, 255, 0.5);
  padding: 20px;
  margin: 0 auto 60px auto;
  border: 3px dashed black;
  cursor: pointer;
}

h2 {
  margin: 0 auto 20px auto;
  padding: 30px 0;
  background: #000;
  color: white;
  box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5);
  font-weight: normal;
}

.children {
  display: block;
  height: 100px;
  margin: 10px;
  line-height: 70px;
  border: 1px dashed black;
}

.static {
  background: rgba(255, 55, 55, 0.5);
}

.relative {
  background: rgba(255, 255, 55, 0.5);
}

.absolute {
  background: rgba(55, 255, 55, 0.5);
}

.fixed {
  background: rgba(55, 55, 255, 0.5);
}

.sticky {
  background: rgba(243, 151, 70, 0.5);
}

/* Part 2 - Exercises 1-5 */